<div class="modal fade" id="shareLargeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header title-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title white" id="myModalLabel">Share This Song</h4>
            </div>
            <div class="modal-body text-center">
                <h4>Tell your friends!</h4>
                <br>
                <h5>Share this link:</h5>
                <!-- <br> -->
                <!-- {{getReferralLink(track.track.id)}} -->
                <input type="text" class="form-control text-center" value="{{referLink}}" style="width:100%"></input>
                <br><br>
                Follow us:
                <br><br>
                <a href="https://twitter.com/NostraJAMusUVA" target="_blank"><i class="fa fa-twitter fa-2x social-media-icons"></i></a>&nbsp
                <a href="https://www.facebook.com/nostrajamus.music" target="_blank"><i class="fa fa-facebook fa-2x social-media-icons"></i></a>&nbsp
                <a href="https://soundcloud.com/nostrajamus" target="_blank"><i class="fa fa-soundcloud fa-2x social-media-icons"></i></a>&nbsp
                <a href="https://play.spotify.com/user/collinwaldoch/playlist/0QmOLxaXpiDhToT2jxTVgL?play=true&utm_source=open.spotify.com&utm_medium=open" target="_blank"><i class="fa fa-spotify fa-2x social-media-icons"></i></a>&nbsp
                <a href="http://nostrajamus.tumblr.com/" target="_blank"><i class="fa fa-tumblr fa-2x social-media-icons"></i></a>
            </div>
            <div class="modal-footer title-bg">
                <button type="button" class="btn btn-default red-nostra-modal" data-dismiss="modal">Sweet.</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-md-12">

		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart font-green-haze hide"></i>
					<span class="caption-subject font-nostra bold uppercase">Submitted Jams</span>
					<span class="caption-helper hide">weekly stats...</span>
				</div>
<!-- 				<div class="actions">
					<div class="btn-group btn-group-devided" data-toggle="buttons">
						<label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
						<input type="radio" name="options" class="toggle" id="option1">Jam Points</label>
						<label class="btn btn-transparent grey-salsa btn-circle btn-sm">
						<input type="radio" name="options" class="toggle" id="option2">Date</label>
					</div>
				</div> -->
			</div>
			<div class="portlet-body">
                <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="100%" style="height:1100px">
    				<div class="row" ng-repeat="track in myInfo.my_entries">
    					<div class="col-md-12" ng-init="track_type = 'entries'">
    						<div data-ng-include="'/assets/tpl/jamus-track-item.html'"></div>
    					</div>
    				</div>
                </perfect-scrollbar>
			</div>
		</div>
		<!-- END PORTLET -->
	</div>
    <!-- <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject font-nostra bold uppercase">Likes</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row" ng-repeat="track in myInfo.my_likes">
                    <div class="col-md-12" ng-init="track_type = 'likes'">
                        <div data-ng-include="'/assets/tpl/jamus-track-item.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>



<!-- BEGIN MAIN JS-->
<script>
	// Profile.init(); // init page demo
</script>
<!-- BEGIN MAIN JS -->