<!-- BEGIN PAGE HEADER-->
<!--<h3 class="page-title">-->
	<!--Profile-->
<!--</h3>-->
<!-- <div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/profile/dashboard">User Profile</a>
		</li>
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
							<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
							Actions <i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#">
					<i class="icon-user"></i> New User </a>
				</li>
				<li>
					<a href="#">
					<i class="icon-present"></i> New Event <span class="badge badge-success">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-basket"></i> New order </a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#">
					<i class="icon-flag"></i> Pending Orders <span class="badge badge-danger">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-users"></i> Pending Users <span class="badge badge-warning">12</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div> -->
<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PROFILE SIDEBAR -->
		<div class="profile-sidebar">
		<!-- <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="100%"> -->
			<!-- PORTLET MAIN -->
			<div class="portlet light profile-sidebar-portlet">
				<!-- SIDEBAR USERPIC -->
				<!-- <div class="profile-userpic" align="center"> -->
				<div align="center">
					<img class="profile-pic-lg img-profile" src="{{getProfilePicture(myInfo.profile_picture)}}" ng-show="getProfilePicture(myInfo.profile_picture)">
	               	<i class="fa fa-user fa-5x" style="color:#ff5252;" ng-hide="getProfilePicture(myInfo.profile_picture)"></i>
					<!-- <img src="{{getProfilePicture(myInfo.profile_picture)}}" class="img-responsive img-circle img-profile" alt=""ng-show="getProfilePicture(myInfo.profile_picture)"> -->
					<!-- <i class="fa fa-user fa-5x" style="color:#ff5252;" ng-hide="getProfilePicture(myInfo.profile_picture)"></i> -->
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name font-nostra-dark">
						{{myInfo.username}}
					</div>
					<!-- <div class="profile-usertitle-job"> -->
					<div>
						{{myInfo.first_name}} {{myInfo.last_name}}
					</div>
					<!-- <div class="profile-usertitle-location"> -->
					<div>
						{{myInfo.location}}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<!-- <button type="button" class="btn btn-circle green-haze btn-sm">10 JAM</button> -->
					<!-- <button type="button" class="btn btn-circle btn-danger btn-sm">7 Contests</button> -->
					<div class="row">
						<div class="col-md-6">
							<div class="font-nostra">{{myInfo.total_jam_points}}</div> Jam Points
						</div>
						<div class="col-md-6">
							<div class="font-nostra">{{getNumContests(myInfo.my_entries)}}</div> Contests
						</div>
					</div>
				</div>
				<br>
				<div class="row">
			        <div class="col-md-12 text-center">
			            <div class="Sica-Bold">REFER your friends!</div>
			            <input type="text" class="form-control text-center Sica-Regular" value="{{generateReferralLink()}}" style="width:100%"></input>
			        </div>
			    </div>
				<hr>
<!-- 				<div align="center">
					<div class="profile-usertitle-name font-nostra-dark">
							Current Jam
							<br>
					</div>
					<a href="cannon.html">Cannon</a> by The White Stripes
				</div>
				<br><br> -->


				<!--<div align="center" ng-show="me == 'me'">-->
					<!--<button type="button" class="btn btn-circle red-nostra btn-md" data-toggle="modal" data-target="#winningsModal">My Winnings</button>-->
				<!--</div>-->

				<!-- END SIDEBAR BUTTONS -->
			</div>
			<div class="row">
				<div class="col-md-12">
			        <div class="portlet light">
			            <div class="portlet-title">
			                <div class="caption caption-md">
			                    <span class="caption-subject font-nostra bold uppercase">Likes</span>
			                </div>
			            </div>
			            <!-- <div class="portlet-body">
			                <div class="row" ng-repeat="track in myInfo.my_likes">
			                    <div class="col-md-12" ng-init="track_type = 'likes'">
			                        <div data-ng-include="'/assets/tpl/jamus-like-item.html'"></div>
			                    </div>
			                </div>
			            </div> -->
			        </div>
			    </div>
			</div>
			<!-- END PORTLET MAIN -->
			<div class="row">
				<perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="100%" style="height:500px">
					<div class="col-md-12">
				        <div class="portlet light">
				            <!-- <div class="portlet-title">
				                <div class="caption caption-md">
				                    <span class="caption-subject font-nostra bold uppercase">Likes</span>
				                </div>
				            </div> -->
				            <div class="portlet-body">
				                <div class="row" ng-repeat="track in myInfo.my_likes">
				                    <div class="col-md-12" ng-init="track_type = 'likes'">
				                        <div data-ng-include="'/assets/tpl/jamus-like-item.html'"></div>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</perfect-scrollbar>
			</div>

			<!-- SIDEBAR MENU -->
			<div class="profile-usermenu">
				<ul class="nav">
					<li ng-class="{active: $state.includes('profile.dashboard')}">
						<a ui-sref="profile.dashboard">
						<i class="icon-home"></i>
						Overview </a>
					</li>
					<li ng-show="me=='me'" ng-class="{active: $state.includes('profile.account')}">
						<a ui-sref="profile.account">
						<i class="icon-settings"></i>
						Settings</a>
					</li>
<!-- 						<li>
						<a href="#/todo">
						<i class="icon-check"></i>
						Tasks </a>
					</li> -->
<!-- 						<li ng-class="{active: $state.includes('profile.help')}">
						<a ui-sref="profile.help">
						<i class="icon-info"></i>
						Help </a>
					</li> -->
				</ul>
			</div>
			<!-- END MENU -->

			<!-- PORTLET MAIN -->
			<!-- <div class="portlet light"> -->
				<!-- STAT -->
				<!-- <div class="row list-separated profile-stat">
					<div class="col-md-4 col-sm-4 col-xs-6">
						<div class="uppercase profile-stat-title">
							37
						</div>
						<div class="uppercase profile-stat-text">
							Projects
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6">
						<div class="uppercase profile-stat-title">
							51
						</div>
						<div class="uppercase profile-stat-text">
							Tasks
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6">
						<div class="uppercase profile-stat-title">
							61
						</div>
						<div class="uppercase profile-stat-text">
							Uploads
						</div>
					</div>
				</div> -->
				<!-- END STAT -->
				<!-- <div>
					<h4 class="profile-desc-title">About Marcus Doe</h4>
					<span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>
					<div class="margin-top-20 profile-desc-link">
						<i class="fa fa-globe"></i>
						<a href="http://www.keenthemes.com">www.keenthemes.com</a>
					</div>
					<div class="margin-top-20 profile-desc-link">
						<i class="fa fa-twitter"></i>
						<a href="http://www.twitter.com/keenthemes/">@keenthemes</a>
					</div>
					<div class="margin-top-20 profile-desc-link">
						<i class="fa fa-facebook"></i>
						<a href="http://www.facebook.com/keenthemes/">keenthemes</a>
					</div>
				</div>
			</div> -->
			<!-- END PORTLET MAIN -->
		<!-- </perfect-scrollbar> -->
		</div>
		<!-- END BEGIN PROFILE SIDEBAR -->
		<!-- BEGIN PROFILE CONTENT -->
		<div ui-view class="profile-content fade-in-up">
		</div>
		<!-- END PROFILE CONTENT -->
	</div>
</div>
<!-- END PAGE CONTENT

<!-- Modal -->
<div class="modal fade" id="winningsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header title-bg">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title white" id="contestModalLabel">My Winnings</h4>
      </div>
      <div class="modal-body">
        <div class="form form-feedback" align="center">
            <div class="textbox font-nostra" id="">Cash</div>
            <div>$0.00</div>
            <br>
            <div class="textbox font-nostra" id="">Prizes</div>
            <div>None... yet.</div>
        </div>
      </div>
      <div class="modal-footer title-bg">
        <button type="button" class="btn btn-default red-nostra-modal" data-dismiss="modal">Sweet.</button>
      </div>
    </div>
  </div>
</div>