amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.19
celery==3.1.17
Django==1.7.3
django-celery==3.1.16
django-filter==0.9.1
django-rest-swagger==0.2.8
djangorestframework==3.0.3
fudge==1.0.3
gunicorn==19.1.1
kombu==3.0.24
Markdown==2.5.2
meld3==1.0.0
pytz==2014.10
PyYAML==3.11
requests==2.5.1
simplejson==3.6.5
soundcloud==0.4.1
supervisor==3.1.3
