<!--BEGIN PAGE HEADER-->
<h3 class="page-title">
	Discover <small>Find Music</small>
</h3>
<!-- BEGIN MAIN CONTENT -->

<div class="row">
	<div class="col-md-12 col-sm-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet light tasks-widget">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart font-green-haze hide"></i>
					<span class="caption-subject font-green-haze bold uppercase">Trending Songs</span>
					<span class="caption-helper">Discover</span>
				</div>
				<div class="inputs">
					<div class="portlet-input input-small input-inline">
						<div class="input-icon right">
							<i class="icon-magnifier"></i>
							<input type="text" class="form-control form-control-solid" placeholder="search...">
						</div>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="task-content">
					<div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
						<!-- START TASK LIST -->
						<!-- <ul class="task-list"> -->
							<!-- <li> -->
<!-- 									<div class="task-checkbox">
									<input type="hidden" value="1" name="test"/>
									<input type="checkbox" class="liChild" value="2" name="test"/>
								</div> -->
								<!-- <div class="task-title"> -->
									<iframe width="95%" height="50%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/166852461&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
								<!-- </div> -->
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="javascript:;" data-toggle="dropdown" dropdown-menu-hover data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="javascript:;">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							<!-- </li> -->
							<!-- <li> -->
<!-- 									<div class="task-checkbox">
									<input type="hidden" value="1" name="test"/>
									<input type="checkbox" class="liChild" value="2" name="test"/>
								</div> -->
								<!-- <div class="task-title"> -->
									<iframe width="95%" height="50%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149486951&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
								<!-- </div> -->
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="javascript:;" data-toggle="dropdown" dropdown-menu-hover data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="javascript:;">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							<!-- </li> -->
							<!-- <li> -->
<!-- 									<div class="task-checkbox">
									<input type="hidden" value="1" name="test"/>
									<input type="checkbox" class="liChild" value="2" name="test"/>
								</div> -->
								<!-- <div class="task-title"> -->
									<iframe width="95%" height="50%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/173827329&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
								<!-- </div> -->
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="javascript:;" data-toggle="dropdown" dropdown-menu-hover data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="javascript:;">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							<!-- </li> -->
							<!-- <li> -->
<!-- 									<div class="task-checkbox">
									<input type="hidden" value="1" name="test"/>
									<input type="checkbox" class="liChild" value="2" name="test"/>
								</div> -->
								<!-- <div class="task-title"> -->
									<iframe width="95%" height="50%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/117027556&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
								<!-- </div> -->
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="javascript:;" data-toggle="dropdown" dropdown-menu-hover data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="javascript:;">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							<!-- </li> -->
<!-- 								<li>
								<div class="task-checkbox">
									<input type="checkbox" class="liChild" value=""/>
								</div>
								<div class="task-title">
									<span class="task-title-sp">
									Hold An Interview for Marketing Manager Position </span>
									<span class="label label-sm label-danger">Marketing</span>
								</div>
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="javascript:;" data-toggle="dropdown" dropdown-menu-hover data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="javascript:;">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="task-checkbox">
									<input type="checkbox" class="liChild" value=""/>
								</div>
								<div class="task-title">
									<span class="task-title-sp">
									AirAsia Intranet System Project Internal Meeting </span>
									<span class="label label-sm label-success">AirAsia</span>
									<span class="task-bell">
									<i class="fa fa-bell-o"></i>
									</span>
								</div>
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="javascript:;" data-toggle="dropdown" dropdown-menu-hover data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="javascript:;">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="task-checkbox">
									<input type="checkbox" class="liChild" value=""/>
								</div>
								<div class="task-title">
									<span class="task-title-sp">
									Technical Management Meeting </span>
									<span class="label label-sm label-warning">Company</span>
								</div>
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="javascript:;" data-toggle="dropdown" dropdown-menu-hover data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="javascript:;">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="task-checkbox">
									<input type="checkbox" class="liChild" value=""/>
								</div>
								<div class="task-title">
									<span class="task-title-sp">
									Kick-off Company CRM Mobile App Development </span>
									<span class="label label-sm label-info">Internal Products</span>
								</div>
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="javascript:;" data-toggle="dropdown" dropdown-menu-hover data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="javascript:;">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="task-checkbox">
									<input type="checkbox" class="liChild" value=""/>
								</div>
								<div class="task-title">
									<span class="task-title-sp">
									Prepare Commercial Offer For SmartVision Website Rewamp </span>
									<span class="label label-sm label-danger">SmartVision</span>
								</div>
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="javascript:;" data-toggle="dropdown" dropdown-menu-hover data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="javascript:;">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="task-checkbox">
									<input type="checkbox" class="liChild" value=""/>
								</div>
								<div class="task-title">
									<span class="task-title-sp">
									Sign-Off The Comercial Agreement With AutoSmart </span>
									<span class="label label-sm label-default">AutoSmart</span>
									<span class="task-bell">
									<i class="fa fa-bell-o"></i>
									</span>
								</div>
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="javascript:;" data-toggle="dropdown" dropdown-menu-hover data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="javascript:;">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="task-checkbox">
									<input type="checkbox" class="liChild" value=""/>
								</div>
								<div class="task-title">
									<span class="task-title-sp">
									Company Staff Meeting </span>
									<span class="label label-sm label-success">Cruise</span>
									<span class="task-bell">
									<i class="fa fa-bell-o"></i>
									</span>
								</div>
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="javascript:;" data-toggle="dropdown" dropdown-menu-hover data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="javascript:;">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="last-line">
								<div class="task-checkbox">
									<input type="checkbox" class="liChild" value=""/>
								</div>
								<div class="task-title">
									<span class="task-title-sp">
									KeenThemes Investment Discussion </span>
									<span class="label label-sm label-warning">KeenThemes </span>
								</div>
								<div class="task-config">
									<div class="task-config-btn btn-group">
										<a class="btn btn-xs default" href="javascript:;" data-toggle="dropdown" dropdown-menu-hover data-close-others="true">
										<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="javascript:;">
												<i class="fa fa-check"></i> Complete </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-pencil"></i> Edit </a>
											</li>
											<li>
												<a href="javascript:;">
												<i class="fa fa-trash-o"></i> Cancel </a>
											</li>
										</ul>
									</div>
								</div>
							</li> -->
						<!-- </ul> -->
						<!-- END START TASK LIST -->
					</div>
				</div>
				<div class="task-footer">
					<div class="btn-arrow-link pull-right">
						<a href="javascript:;">See More</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END PORTLET-->
	</div>
	
</div>

<!-- END MAIN CONTENT -->

<!-- BEGIN MAIN JS -->
<script>
	// Progressbar demo controller
	function ProgressDemoCtrl($scope) {
		$scope.max = 5;
		var value = 0;
		$scope.dynamic = value;

		  // $scope.random = function() {
		  //   var value = Math.floor((Math.random() * 100) + 1);
		  //   var type;

		  //   if (value < 25) {
		  //     type = 'success';
		  //   } else if (value < 50) {
		  //     type = 'info';
		  //   } else if (value < 75) {
		  //     type = 'warning';
		  //   } else {
		  //     type = 'danger';
		  //   }

		  //   $scope.showWarning = (type === 'danger' || type === 'warning');

		  //   $scope.dynamic = value;
		  //   $scope.type = type;
		  // };
		  // $scope.random();

		  // $scope.randomStacked = function() {
		  //   $scope.stacked = [];
		  //   var types = ['success', 'info', 'warning', 'danger'];

		  //   for (var i = 0, n = Math.floor((Math.random() * 4) + 1); i < n; i++) {
		  //       var index = Math.floor((Math.random() * 4));
		  //       $scope.stacked.push({
		  //         value: Math.floor((Math.random() * 30) + 1),
		  //         type: types[index]
		  //       });
		  //   }
		  // };
		  // $scope.randomStacked();

		  $scope.back = function() {
		    // var type;

		    if (value > 0) {
		    	value--;
		    }

		    // $scope.showWarning = (type === 'danger' || type === 'warning');

		    $scope.dynamic = value;
		    // $scope.type = type;
		  };
		  $scope.next = function() {
		    // var type;

		    if (value < 5) {
		    	value++;
		    }

		    // $scope.showWarning = (type === 'danger' || type === 'warning');

		    $scope.dynamic = value;
		    // $scope.type = type;
		  };
	}
</script>
<!-- END MAIN JS