<!--BEGIN PAGE HEADER-->
<h3 class="page-title">
	Learn <small>How It Works</small>
</h3>
<!-- BEGIN MAIN CONTENT -->

<div class="row">
	<div class="col-md-12">
		
		<!-- BEGIN PROGRESSBAR DEMO -->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="icon-question"></i>
					<span class="caption-subject bold uppercase font-nostra">Tutorial</span>
					<!-- <span class="caption-helper">Learn How To Play</span> -->
				</div>
				<div class="tools">
<!-- 					<a href="" class="collapse">
					</a>
					<a href="#portlet-config" data-toggle="modal" class="config" >
					</a>
					<a href="" class="reload">
					</a> -->
					<a href="" class="fullscreen">
					</a>
<!-- 					<a href="" class="remove">
					</a> -->
				</div>
			</div>
			<div class="portlet-body">
				<div class="row">
					<div class="col-md-offset-2 col-md-8">
						<div ng-controller="ProgressDemoCtrl">

						    <h3 align="center">
						    	<button class="btn btn-sm btn-primary red-nostra" type="button" ng-click="back()"><</button>
						    	Tutorial
						    	<button class="btn btn-sm btn-primary red-nostra" type="button" ng-click="next()">></button>
						    </h3>

						    <progressbar class="progress-striped active" type="danger" max="max" value="dynamic"><span style="white-space:nowrap;">{{dynamic}} / {{max}}</span></progressbar>
						    
						    <hr />

						</div>
					</div>
					<!-- <div class="col-md-6">
						<div ng-controller="ProgressDemoCtrl">

						    <h3>Static</h3>
						    <div class="row">
						        <div class="col-sm-4"><progressbar value="55"></progressbar></div>
						        <div class="col-sm-4"><progressbar class="progress-striped" value="22" type="warning">22%</progressbar></div>
						        <div class="col-sm-4"><progressbar class="progress-striped active" max="200" value="166" type="danger"><i>166 / 200</i></progressbar></div>
						    </div>

						    <hr />
						    <h3>Dynamic <button class="btn btn-sm btn-primary" type="button" ng-click="random()">Randomize</button></h3>
						    <progressbar max="max" value="dynamic"><span style="white-space:nowrap;">{{dynamic}} / {{max}}</span></progressbar>
						    
						    <small><em>No animation</em></small>
						    <progressbar animate="false" value="dynamic" type="success"><b>{{dynamic}}%</b></progressbar>

						    <small><em>Object (changes type based on value)</em></small>
						    <progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{type}} <i ng-show="showWarning">!!! Watch out !!!</i></progressbar>
						    
						    <hr />
						    <h3>Stacked <button class="btn btn-sm btn-primary" type="button" ng-click="randomStacked()">Randomize</button></h3>
						    <progress><bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}"><span ng-hide="bar.value < 5">{{bar.value}}%</span></bar></progress>
						</div>
					</div>
					<div class="col-md-6">
                        <p>A progress bar directive that is focused on providing feedback on the progress of a workflow or action.</p>
						<p>It supports multiple (stacked) bars into the same <code>&lt;progress&gt;</code> element or a single <code>&lt;progressbar&gt;</code> elemtnt with optional <code>max</code> attribute and transition animations.</p>

						<h3>Settings</h3>

						<h4><code>&lt;progressbar&gt;</code></h4>

						<ul>
						<li><p><code>value</code> <i class="glyphicon glyphicon-eye-open"></i>
						 :
						 The current value of progress completed.</p></li>
						<li><p><code>type</code>
						 <em>(Default: null)</em> :
						 Style type. Possible values are 'success', 'warning' etc.</p></li>
						<li><p><code>max</code>
						 <em>(Default: 100)</em> :
						 A number that specifies the total value of bars that is required.</p></li>
						<li><p><code>animate</code>
						 <em>(Default: true)</em> :
						 Whether bars use transitions to achieve the width change.</p></li>
						</ul>

						<h3>Stacked</h3>

						<p>Place multiple <code>&lt;bars&gt;</code> into the same <code>&lt;progress&gt;</code> element to stack them.
						<code>&lt;progress&gt;</code> supports <code>max</code> and <code>animate</code> &amp;  <code>&lt;bar&gt;</code> supports  <code>value</code> and <code>type</code> attributes.</p>
                    </div> -->
				</div>	
			</div>
		</div>		
		<!-- END PROGRESSBAR DEMO -->

	</div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN MESSAGE SIDEBAR -->
        <div class="todo-ui" style="margin-top: 0">
            <!-- END TODO SIDEBAR -->
            <!-- BEGIN TODO CONTENT -->
            <div class="todo-content">
                <div class="portlet light">
                    <!-- PROJECT HEAD -->
<!--                     <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-green-sharp hide"></i>
                            <span class="caption-helper">PROJECT:</span> &nbsp; <span class="caption-subject font-green-sharp bold uppercase">Tune Website</span>
                        </div>
                    </div> -->
                    <!-- end PROJECT HEAD -->
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2 class="section-heading">Contact Us</h2>
                                <h3 class="section-subheading text-muted">We would love to hear your feedback</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <form name="sentMessage" id="contactForm" action="/api/feedback/" method="POST" novalidate>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="name" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" name="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <textarea class="form-control" name="text" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-lg-12 text-center">
                                            <div id="success"></div>
                                            <button type="submit" class="btn btn-xl">Send Message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TODO CONTENT -->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>

<!-- END MAIN CONTENT -->

<!-- BEGIN MAIN JS -->
<script>
	// Progressbar demo controller
	function ProgressDemoCtrl($scope) {
		$scope.max = 5;
		var value = 0;
		$scope.dynamic = value;

		  // $scope.random = function() {
		  //   var value = Math.floor((Math.random() * 100) + 1);
		  //   var type;

		  //   if (value < 25) {
		  //     type = 'success';
		  //   } else if (value < 50) {
		  //     type = 'info';
		  //   } else if (value < 75) {
		  //     type = 'warning';
		  //   } else {
		  //     type = 'danger';
		  //   }

		  //   $scope.showWarning = (type === 'danger' || type === 'warning');

		  //   $scope.dynamic = value;
		  //   $scope.type = type;
		  // };
		  // $scope.random();

		  // $scope.randomStacked = function() {
		  //   $scope.stacked = [];
		  //   var types = ['success', 'info', 'warning', 'danger'];

		  //   for (var i = 0, n = Math.floor((Math.random() * 4) + 1); i < n; i++) {
		  //       var index = Math.floor((Math.random() * 4));
		  //       $scope.stacked.push({
		  //         value: Math.floor((Math.random() * 30) + 1),
		  //         type: types[index]
		  //       });
		  //   }
		  // };
		  // $scope.randomStacked();

		  $scope.back = function() {
		    // var type;

		    if (value > 0) {
		    	value--;
		    }

		    // $scope.showWarning = (type === 'danger' || type === 'warning');

		    $scope.dynamic = value;
		    // $scope.type = type;
		  };
		  $scope.next = function() {
		    // var type;

		    if (value < 5) {
		    	value++;
		    }

		    // $scope.showWarning = (type === 'danger' || type === 'warning');

		    $scope.dynamic = value;
		    // $scope.type = type;
		  };
	}
</script>
<!-- END MAIN JS