<div id="scrollArea">

<!--BEGIN PAGE HEADER-->
<!--<h3 class="page-title">-->
	<!--Leaderboard &lt;!&ndash; <small><a ng-click="gotoTastemakers()">Top Tastemakers</a> and <a ng-click="gotoUpcomingJams()">Upcoming Jams</a></small> &ndash;&gt;-->
<!--</h3>-->
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<!-- <div class="row" ng-controller="AdvancedDatatablesDemoCtrl"> -->
	<!-- <div class="col-md-12"> -->
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
<!-- 		<div class="portlet box red-nostra">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-trophy"></i>Leaderboard
				</div>
				<div class="tools">
					<a href="javascript:;" class="reload">
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover" id="sample_3">
					<thead>
						<tr>
							<th>
								Username
							</th>
							<th>
								JAM Points
							</th>
							<th>
								Joined
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								vanGOGH
							</td>
							<td>
								9101.3
							</td>
							<td>
								01/01/2015
							</td>
						</tr>
						<tr>
							<td>
								t-mipari
							</td>
							<td>
								8749.4
							</td>
							<td>
								11/03/2014
							</td>
						</tr>
						<tr>
							<td>
								tolmert
							</td>
							<td>
								6830.9
							</td>
							<td>
								10/31/2014
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div> -->
		<!-- END EXAMPLE TABLE PORTLET-->
	<!-- </div> -->
<!-- </div> -->
<!-- <a id="tastemakers"></a> -->
<div class="row">
	<div class="col-md-12 col-sm-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet light ">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart font-green-haze hide"></i>
					<span class="caption-subject font-nostra bold uppercase">Leaderboard</span>
					<span class="caption-helper hide">weekly stats...</span>
				</div>
				<!--<div class="portlet-title tabbable-line pull-right">-->
					<!--<ul class="nav nav-tabs">-->
						<!--<li class="active">-->
							<!--<a data-target="#tab_1_1" data-toggle="tab">-->
							<!--Upcoming Jams </a>-->
						<!--</li>-->
						<!--<li>-->
							<!--<a data-target="#tab_1_2" data-toggle="tab">-->
							<!--Top Tastemakers </a>-->
						<!--</li>-->
					<!--</ul>-->
				<!--</div>-->
			</div>
			<div class="portlet-body">
<!-- 				<div class="row number-stats margin-bottom-30">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="stat-left">
							<div class="stat-chart"> -->
								<!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
<!-- 								<div id="sparkline_bar"></div>
							</div>
							<div class="stat-number">
								<div class="title">
									JAM Points Total
								</div>
								<div class="number">
									2460
								</div>
							</div>
						</div>
					</div> -->
<!-- 					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="stat-right">
							<div class="stat-chart"> -->
								<!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
<!-- 								<div id="sparkline_bar2"></div>
							</div>
							<div class="stat-number">
								<div class="title">
									This Week
								</div>
								<div class="number">
									+719
								</div>
							</div>
						</div>
					</div>
				</div> -->
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr>
                                <th width="33%" class="text-center">
                                    Rank
                                </th>
                                <!-- DOC: colspan="2" -->
                                <th width="33%" class="text-center">
                                    Tastemaker
                                </th>
                                <th width="33%" class="text-center">
                                    Jam Points
                                </th>
                            </tr>
                        </thead>
                        <tr ng-repeat="leader in leaders">
                            <th width="33%" class="text-center">
                                {{$index+1}}
                            </th>
                            <td class="bold text-center" width="33%">
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-2">
                                        <!-- class="user-pic" -->
                                        <img class="img-responsive img-circle" src="{{getProfilePicture(leader.profile_picture)}}"> <!-- /assets/admin/layout/img/avatar4.jpg -->
                                    </div>
                                    <a href="#/profile/{{leader.id}}/dashboard"><div class="col-md-6">{{leader.username}}</div></a>
                                </div>
                            </td>
                            <td width="33%" class="text-center">
                                <span class="bold font-nostra-dark">{{leader.total_jam_points}}</span>
                            </td>
                        </tr>
                    </table>
                </div>

				<div class="tab-content">
					<div class="tab-pane active" id="tab_1_1">
						<!--<div class="actions pull-right">-->
							<!--<div class="btn-group btn-group-devided" data-toggle="buttons">-->
								<!--<label class="btn btn-transparent grey-salsa btn-circle btn-sm active" ng-click="timeSelect='day'">-->
								<!--<input type="radio" name="options" class="toggle">Week</label>-->
								<!--<label class="btn btn-transparent grey-salsa btn-circle btn-sm" ng-click="timeSelect='week'">-->
								<!--<input type="radio" name="options" class="toggle">Month</label>-->
								<!--<label class="btn btn-transparent grey-salsa btn-circle btn-sm" ng-click="timeSelect='month'">-->
								<!--<input type="radio" name="options" class="toggle">All Time</label>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="row" ng-show="timeSelect=='day'">-->
							<!--<div class="col-md-12 col-sm-12">-->
								<!--&lt;!&ndash; BEGIN PORTLET&ndash;&gt;-->
								<!--<div class="portlet light">-->
									<!--&lt;!&ndash; <div class="portlet-title">-->
										<!--<div class="caption caption-md">-->
											<!--<i class="icon-bar-chart font-green-haze hide"></i>-->
											<!--<span class="caption-subject font-nostra bold uppercase">Upcoming Jams</span>-->
											<!--<span class="caption-helper hide">weekly stats...</span>-->
										<!--</div>-->
									<!--</div> &ndash;&gt;-->
									<!--<div class="portlet-body text-center">-->
										<!--<div ng-repeat="track in dayTracks | startFrom:currentPage*pageSize | limitTo:pageSize">-->
											<!--<div class="row list-separated text-center">-->
												<!--<div class="col-md-3 col-sm-3 col-xs-6">-->
													<!--<div class="font-grey-mint font-sm">-->
														<!--Initial Playcount-->
													<!--</div>-->
													<!--<div class="uppercase font-hg font-red-flamingo">-->
														<!--{{track.initial_playback_count}} <span class="font-lg font-grey-mint"></span>-->
													<!--</div>-->
												<!--</div>-->
												<!--<div class="col-md-3 col-sm-3 col-xs-6">-->
													<!--<div class="font-grey-mint font-sm">-->
														<!--Play Increase-->
													<!--</div>-->
													<!--<div class="uppercase font-hg font-purple">-->
														<!--<span class="font-lg font-grey-mint">+</span>{{getPlayIncrease(track)}}%-->
													<!--</div>-->
												<!--</div>-->
												<!--<div class="col-md-3 col-sm-3 col-xs-6">-->
													<!--<div class="font-grey-mint font-sm">-->
														<!--Current Playcount-->
													<!--</div>-->
													<!--<div class="uppercase font-hg font-purple">-->
														<!--{{track.current_playback_count}} <span class="font-lg font-grey-mint"></span>-->
													<!--</div>-->
												<!--</div>-->
												<!--<div class="col-md-3 col-sm-3 col-xs-6">-->
													<!--<div class="font-grey-mint font-sm">-->
														<!--Total Followers-->
													<!--</div>-->
													<!--<div class="uppercase font-hg font-green-haze">-->
														<!--{{track.current_follower_count}} <span class="font-lg font-grey-mint"></span>-->
													<!--</div>-->
												<!--</div>-->
											<!--</div>-->
											<!--<div class="row" align="center">-->
												<!--<div class="col-md-12 col-sm-12 col-xs-24">-->
													<!--<iframe width="75%" height="200" scrolling="no" frameborder="no" ng-src="{{getSrc(track)}}"></iframe>-->
												<!--</div>-->
											<!--</div>-->
											<!--<hr>-->
										<!--</div>-->

										<!--<button class="btn btn-primary red-nostra" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">-->
									        <!--Prev-->
									    <!--</button>-->
									    <!--{{currentPage+1}}/{{numberOfPages()}}-->
									    <!--<button class="btn btn-primary red-nostra" ng-disabled="currentPage>=trending.length/pageSize-1" ng-click="currentPage=currentPage+1">-->
									        <!--Next-->
									    <!--</button>-->
									<!--</div>-->
								<!--</div>-->
								<!--&lt;!&ndash; END PORTLET&ndash;&gt;-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="row" ng-show="timeSelect=='week'">-->
							<!--<div class="col-md-12 col-sm-12">-->
								<!--&lt;!&ndash; BEGIN PORTLET&ndash;&gt;-->
								<!--<div class="portlet light">-->
									<!--&lt;!&ndash; <div class="portlet-title">-->
										<!--<div class="caption caption-md">-->
											<!--<i class="icon-bar-chart font-green-haze hide"></i>-->
											<!--<span class="caption-subject font-nostra bold uppercase">Upcoming Jams</span>-->
											<!--<span class="caption-helper hide">weekly stats...</span>-->
										<!--</div>-->
									<!--</div> &ndash;&gt;-->
									<!--<div class="portlet-body text-center">-->
										<!--<div ng-repeat="track in weekTracks | startFrom:currentPage*pageSize | limitTo:pageSize">-->
											<!--<div class="row list-separated text-center">-->
												<!--<div class="col-md-3 col-sm-3 col-xs-6">-->
													<!--<div class="font-grey-mint font-sm">-->
														<!--Initial Playcount-->
													<!--</div>-->
													<!--<div class="uppercase font-hg font-red-flamingo">-->
														<!--{{track.initial_playback_count}} <span class="font-lg font-grey-mint"></span>-->
													<!--</div>-->
												<!--</div>-->
												<!--<div class="col-md-3 col-sm-3 col-xs-6">-->
													<!--<div class="font-grey-mint font-sm">-->
														<!--Play Increase-->
													<!--</div>-->
													<!--<div class="uppercase font-hg font-purple">-->
														<!--<span class="font-lg font-grey-mint">+</span>{{getPlayIncrease(track)}}%-->
													<!--</div>-->
												<!--</div>-->
												<!--<div class="col-md-3 col-sm-3 col-xs-6">-->
													<!--<div class="font-grey-mint font-sm">-->
														<!--Current Playcount-->
													<!--</div>-->
													<!--<div class="uppercase font-hg font-purple">-->
														<!--{{track.current_playback_count}} <span class="font-lg font-grey-mint"></span>-->
													<!--</div>-->
												<!--</div>-->
												<!--<div class="col-md-3 col-sm-3 col-xs-6">-->
													<!--<div class="font-grey-mint font-sm">-->
														<!--Total Followers-->
													<!--</div>-->
													<!--<div class="uppercase font-hg font-green-haze">-->
														<!--{{track.current_follower_count}} <span class="font-lg font-grey-mint"></span>-->
													<!--</div>-->
												<!--</div>-->
											<!--</div>-->
											<!--<div class="row" align="center">-->
												<!--<div class="col-md-12 col-sm-12 col-xs-24">-->
													<!--<iframe width="75%" height="200" scrolling="no" frameborder="no" ng-src="{{getSrc(track)}}"></iframe>-->
												<!--</div>-->
											<!--</div>-->
											<!--<hr>-->
										<!--</div>-->

										<!--<button class="btn btn-primary red-nostra" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">-->
									        <!--Prev-->
									    <!--</button>-->
									    <!--{{currentPage+1}}/{{numberOfPages()}}-->
									    <!--<button class="btn btn-primary red-nostra" ng-disabled="currentPage>=trending.length/pageSize-1" ng-click="currentPage=currentPage+1">-->
									        <!--Next-->
									    <!--</button>-->
									<!--</div>-->
								<!--</div>-->
								<!--&lt;!&ndash; END PORTLET&ndash;&gt;-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="row" ng-show="timeSelect=='month'">-->
							<!--<div class="col-md-12 col-sm-12">-->
								<!--&lt;!&ndash; BEGIN PORTLET&ndash;&gt;-->
								<!--<div class="portlet light">-->
									<!--&lt;!&ndash; <div class="portlet-title">-->
										<!--<div class="caption caption-md">-->
											<!--<i class="icon-bar-chart font-green-haze hide"></i>-->
											<!--<span class="caption-subject font-nostra bold uppercase">Upcoming Jams</span>-->
											<!--<span class="caption-helper hide">weekly stats...</span>-->
										<!--</div>-->
									<!--</div> &ndash;&gt;-->
									<!--<div class="portlet-body text-center">-->
										<!--<div ng-repeat="track in monthTracks | startFrom:currentPage*pageSize | limitTo:pageSize">-->
											<!--<div class="row list-separated text-center">-->
												<!--<div class="col-md-3 col-sm-3 col-xs-6">-->
													<!--<div class="font-grey-mint font-sm">-->
														<!--Initial Playcount-->
													<!--</div>-->
													<!--<div class="uppercase font-hg font-red-flamingo">-->
														<!--{{track.initial_playback_count}} <span class="font-lg font-grey-mint"></span>-->
													<!--</div>-->
												<!--</div>-->
												<!--<div class="col-md-3 col-sm-3 col-xs-6">-->
													<!--<div class="font-grey-mint font-sm">-->
														<!--Play Increase-->
													<!--</div>-->
													<!--<div class="uppercase font-hg font-purple">-->
														<!--<span class="font-lg font-grey-mint">+</span>{{getPlayIncrease(track)}}%-->
													<!--</div>-->
												<!--</div>-->
												<!--<div class="col-md-3 col-sm-3 col-xs-6">-->
													<!--<div class="font-grey-mint font-sm">-->
														<!--Current Playcount-->
													<!--</div>-->
													<!--<div class="uppercase font-hg font-purple">-->
														<!--{{track.current_playback_count}} <span class="font-lg font-grey-mint"></span>-->
													<!--</div>-->
												<!--</div>-->
												<!--<div class="col-md-3 col-sm-3 col-xs-6">-->
													<!--<div class="font-grey-mint font-sm">-->
														<!--Total Followers-->
													<!--</div>-->
													<!--<div class="uppercase font-hg font-green-haze">-->
														<!--{{track.current_follower_count}} <span class="font-lg font-grey-mint"></span>-->
													<!--</div>-->
												<!--</div>-->
											<!--</div>-->
											<!--<div class="row" align="center">-->
												<!--<div class="col-md-12 col-sm-12 col-xs-24">-->
													<!--<iframe width="75%" height="200" scrolling="no" frameborder="no" ng-src="{{getSrc(track)}}"></iframe>-->
												<!--</div>-->
											<!--</div>-->
											<!--<hr>-->
										<!--</div>-->

										<!--<button class="btn btn-primary red-nostra" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">-->
									        <!--Prev-->
									    <!--</button>-->
									    <!--{{currentPage+1}}/{{numberOfPages()}}-->
									    <!--<button class="btn btn-primary red-nostra" ng-disabled="currentPage>=trending.length/pageSize-1" ng-click="currentPage=currentPage+1">-->
									        <!--Next-->
									    <!--</button>-->
									<!--</div>-->
								<!--</div>-->
								<!--&lt;!&ndash; END PORTLET&ndash;&gt;-->
							<!--</div>-->
						<!--</div>-->
					</div>

				</div>
			</div>
		</div>
		<!-- END PORTLET-->
	</div>
</div>

<!-- <a id="upcomingjams"></a> -->

</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
	// function AdvancedDatatablesDemoCtrl($scope) {
	// 	Leagues.init();
	// }
</script>
<!-- END MAIN JS