<div class="row music-player">
    <div class="col-xs-12">
        <!--<div plangular="http://soundcloud.com/mrsjxn/bbb">-->
            <div class="row">
                <!--<div class="progress-bar"></div>-->
                <div class="progress music-player-progress-bar">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ player.data.trackProgress }}" aria-valuemin="0" aria-valuemax="1" style="width: {{ player.data.trackProgress * 100 }}%;">
                    </div>
                </div>
                <div class="col-xs-3 player-controls">
                    <div class="row text-center">
                        <div class="col-xs-4">
                            <button class="button-icon" ng-click="player.playPreviousTrack()">
                                <span class="fa fa-2x fa-step-backward"></span>
                            </button>
                        </div>
                        <div class="col-xs-4">
                            <button class="button-icon" ng-click="player.playPause()">
                                <!--player.playPause(player.i, player.playlistIndex)-->
                                <span ng-if="!player.data.isPlaying" class="fa fa-2x fa-play"></span>
                                <span ng-if="player.data.isPlaying" class="fa fa-2x fa-pause"></span>
                            </button>
                        </div>
                        <div class="col-xs-4">
                            <button class="button-icon" ng-click="player.playNextTrack()">
                                <span class="fa fa-2x fa-step-forward"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 text-center player-details">
                    <div>{{ player.data.currentTrackData.title }} - {{ player.data.currentTrackData.user.username }}</div>
                    <!--<progress value="{{ player.data.trackProgress }}" max="1"-->
                              <!--ng-click="seek($event)">-->
                        <!--<!--{{ currentTime / duration }}-->
                    <!--</progress>-->
                </div>
                <div class="col-xs-3 text-center player-queue">
                    <button class="button-icon" ng-click="next()">
                        <span class="fa fa-2x fa-list-ul"></span>
                    </button>
                </div>
            </div>
        <!--</div>-->
    </div>
</div>


