<h1>TEST</h1>
<input ng-model="state"></input>
<br>
{{state}}
<br>
<br>
<input ng-model="selectedValue" ng-hide=false></input>
<br>
{{selectedValue}}

<ul>
	<li ng-repeat="signup in signups.results">
		<!-- {{countSignups(signups.results)}}<br> -->
		{{signup.email}} ... {{signup.createdAt}}
	</li>
</ul>

<button ng-click="save()" class="btn btn-primary">Save</button>

<hr>

<!-- <div>TEST LEADERBOARD</div>
<br>

<div class="buttons-leader">
    <div class="button-leader">
        <span><i class="fa fa-shopping-cart"></i></span>
        <h5>Shopping</h5>
        <p>We have a wide varity of products ranging from a pin to Jumbo Jet.</p>
    </div>
    <div class="button-leader">
        <span><i class="fa fa-gift"></i></span>
        <h5>Gifts</h5>
        <p><a href="#">Buy stuff</a> and recieve awesome gifts and cashbacks. </p>
    </div>
    <div class="button-leader active-leader">
        <span><i class="fa fa-group"></i></span>
        <h5>Our Team</h5>
        <p>Our team has millions of member, every member of this website is a team member helping in making this website a success. <a href="thecodeblock.com">join us</a>.</p>
    </div>
    <div class="button-leader">
        <span><i class="fa fa-inr"></i></span>
        <h5>Revenue</h5>
        <p>You can get a share of our revenur by helping us out with yada yada yada.</p>
    </div>
    <div class="button-leader">
        <span><i class="fa fa-heart"></i></span>
        <h5>Sharing</h5>
        <p>We would love to share our service with you, you can contact us on <a href="thecodeblock.com">facebook</a> or <a href="thecodeblock.com">twitter</a>.</p>
    </div>
</div> -->

<!-- <br><br><br><br><br> -->