<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NostraJAMus</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

    <!-- Custom CSS -->
    <link href="/static/css/agency.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.css"/>

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-58603725-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">NostraJAMus</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">How To Play</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Contest</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="{% if user.is_authenticated %}/logout/{% else %}/login/{% endif %}">{% if user.is_authenticated %}Logout{% else %}Login{% endif %}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container page">
            <div class="intro-text">
                <div class="intro-heading">Nostrajamus</div>
                <div class="intro-lead-in">Music Discovery, Prediction, and Tastemaking</div>
{#                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>#}
                <a href="#services" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">HOW TO PLAY</h2>
                    <h3 class="section-subheading text-muted">NostraJAMus is a platform for music discovery, prediction, and tastemaking!<br><br> The concept is simple:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Discover</h4>
                    <p class="text-muted">
                        Pick any song you want from an official Soundcloud account.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sign Up</h4>
                    <p class="text-muted">Enter your song into our 2015 Kickoff Contest for free. We’ll only use your personal info to send you awesome prizes.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Win</h4>
                    <p class="text-muted">If your song wins the most Jam Points, we’ll reward you with cash, swag, and fame. Actually though real money.</p>
                </div>
            </div>
            <div class="row text-center">
                <br/>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rulesModal">What are Jam Points?</button>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="rulesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Scoring</h4>
                </div>
                <div class="modal-body">
                    <h5>The Basics</h5>
                    <p>Your song wins Jam Points based on playcount and artist popularity. The song with the most Jam Points at the end of the contest wins.</p>
                    <p>The best songs begin with fewer streams and are by lesser-known artists. Balancing artist popularity with play counts will be important. Like deciding between a donut and a bagel. We have our best people working on the ideal balance, but for now just pick your favorite jam.</p>
                    <hr/>
                    <h5>A Few Examples</h5>
                    <p class="score-example">Choose a song with <span class="red">5 million</span> plays that increased to <span class="red">6 million</span> plays and an artist with over <span class="red">1 million</span> followers?</p>
                    <img src="/static/img/scoring/vancejoy.png" class="scoring-img" alt=""/>
                    <h5 class="red">Play Count Increase: 20%  |  Number of Followers: 1.4 million</h5>
                    <h4 class="red">Not Great</h4>

                    <p class="score-example">Choose a song with <span class="green">5 thousand</span> plays that skyrockets to <span class="green">105 thousand</span> plays and an artist with <span class="green">4 thousand</span> followers?</p>
                    <img src="/static/img/scoring/misun.png" class="scoring-img" alt=""/>
                    <h5 class="green">Play Count Increase: 2,000%  |  Number of Followers: 4 thousand</h5>
                    <h4 class="green">Jackpot</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sweet.</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="officialTrackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Official Tracks Only</h4>
                </div>
                <div class="modal-body">
                    <h4 class="green">Good Examples</h4>
                    <h4 class="center">(uploaded by record label or artist)</h4>
                    <img src="/static/img/scoring/good1.png" class="scoring-img" alt=""/>
                    <img src="/static/img/scoring/good2.png" class="scoring-img" alt=""/>

                    <hr/>
                    <h4 class="red">Bad Examples</h4>
                    <h4 class="center">(uploaded by random internet stranger)</h4>
                    <img src="/static/img/scoring/bad1.png" class="scoring-img" alt=""/>
                    <img src="/static/img/scoring/bad2.png" class="scoring-img" alt=""/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sweet.</button>
                </div>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}

        <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Thanks for joining our 2015 Kickoff Contest</h2>
                    <div class="section-subheading text-muted">Contest Begins In <span id="countdown"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <br/>
                    <div class="text-center text-muted">As a reminder, you entered . . .</div>
                    <br/>
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ my_track.sc_id }}&amp;color=ff3333&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                    <br/><br/>
                    <div class="text-center text-muted text-large">Please invite your friends and family and enemies to enter the contest. We'll be adding more prizes as we get more contestants. It's a win-win-win situation (is that how that works?)</div>
                </div>
            </div>


    {% else %}
    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Join Our 2015 Kickoff Contest</h2>
                    <div class="section-subheading text-muted">Submission Deadline In <span id="countdown"></span></div>
                    <br/><br/><br/>
                    <p class="subheading-button"><button type="button" class="btn btn-default" data-toggle="modal" data-target="#officialTrackModal">Remember Official Uploads Only</button></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="contestEntryForm" id="contestEntryForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name *" id="first_name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name *" id="last_name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Username (alias) *" id="username" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password *" id="password1" required data-validation-required-message="Please enter a password">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirm password *" id="password2" required data-validation-required-message="Please enter a confirmation password">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" name="" class="form-control" id="search" value="" type="text" placeholder="Start typing to search Soundcloud . . . Results will appear below.">
                                    <br>
                                    <div id="sc-embed"></div>
                                    <br><br>
                                    <div class="text-center text-muted"><span id="playcount_embed"></span><span id="follower_count_embed"></span></div>
                                    </input>
                                </div>
                            </div>

{#                            <div class="col-lg-12">#}
{#                                <canvas id="example-chart" width="800" height="400"></canvas>#}
{#                                <p class="text-muted">Example graph for Asap Rocky - Fuckin' Problems. Will have dates for x-axis, less data points, and a longer time period. This just started recording data last night.</p>#}
{#                            </div>#}

                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Join Contest</button>
                                <div id="errors"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            {% endif %}


{#            <div class="row">#}
{#                <div class="col-md-4 col-sm-6 portfolio-item">#}
{#                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">#}
{#                        <div class="portfolio-hover">#}
{#                            <div class="portfolio-hover-content">#}
{#                                <i class="fa fa-plus fa-3x"></i>#}
{#                            </div>#}
{#                        </div>#}
{#                        <img src="/static/img/portfolio/roundicons.png" class="img-responsive" alt="">#}
{#                    </a>#}
{#                    <div class="portfolio-caption">#}
{#                        <h4>Round Icons</h4>#}
{#                        <p class="text-muted">Graphic Design</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4 col-sm-6 portfolio-item">#}
{#                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">#}
{#                        <div class="portfolio-hover">#}
{#                            <div class="portfolio-hover-content">#}
{#                                <i class="fa fa-plus fa-3x"></i>#}
{#                            </div>#}
{#                        </div>#}
{#                        <img src="/static/img/portfolio/startup-framework.png" class="img-responsive" alt="">#}
{#                    </a>#}
{#                    <div class="portfolio-caption">#}
{#                        <h4>Startup Framework</h4>#}
{#                        <p class="text-muted">Website Design</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4 col-sm-6 portfolio-item">#}
{#                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">#}
{#                        <div class="portfolio-hover">#}
{#                            <div class="portfolio-hover-content">#}
{#                                <i class="fa fa-plus fa-3x"></i>#}
{#                            </div>#}
{#                        </div>#}
{#                        <img src="/static/img/portfolio/treehouse.png" class="img-responsive" alt="">#}
{#                    </a>#}
{#                    <div class="portfolio-caption">#}
{#                        <h4>Treehouse</h4>#}
{#                        <p class="text-muted">Website Design</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4 col-sm-6 portfolio-item">#}
{#                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">#}
{#                        <div class="portfolio-hover">#}
{#                            <div class="portfolio-hover-content">#}
{#                                <i class="fa fa-plus fa-3x"></i>#}
{#                            </div>#}
{#                        </div>#}
{#                        <img src="/static/img/portfolio/golden.png" class="img-responsive" alt="">#}
{#                    </a>#}
{#                    <div class="portfolio-caption">#}
{#                        <h4>Golden</h4>#}
{#                        <p class="text-muted">Website Design</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4 col-sm-6 portfolio-item">#}
{#                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">#}
{#                        <div class="portfolio-hover">#}
{#                            <div class="portfolio-hover-content">#}
{#                                <i class="fa fa-plus fa-3x"></i>#}
{#                            </div>#}
{#                        </div>#}
{#                        <img src="/static/img/portfolio/escape.png" class="img-responsive" alt="">#}
{#                    </a>#}
{#                    <div class="portfolio-caption">#}
{#                        <h4>Escape</h4>#}
{#                        <p class="text-muted">Website Design</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4 col-sm-6 portfolio-item">#}
{#                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">#}
{#                        <div class="portfolio-hover">#}
{#                            <div class="portfolio-hover-content">#}
{#                                <i class="fa fa-plus fa-3x"></i>#}
{#                            </div>#}
{#                        </div>#}
{#                        <img src="/static/img/portfolio/dreams.png" class="img-responsive" alt="">#}
{#                    </a>#}
{#                    <div class="portfolio-caption">#}
{#                        <h4>Dreams</h4>#}
{#                        <p class="text-muted">Website Design</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The NostraJAMus Story</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/static/img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fall 2014</h4>
                                    <h4 class="subheading">Tony and Collin go hiking</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">iTunes is a teenager. But radio is still the most effective way to launch new artists and glance at our culture’s musical landscape. This wouldn’t bum us out so much by itself, but the 10 most popular songs on the radio receive double the airtime today than those of  ten years ago. There are more ways to create and consume music than ever before. The funnel of popular music should not be narrowing.  It should be expanding. That’s why we created NostraJAMus.</p>
                                </div>
                            </div>
{#                            <div class="timeline-inverted">#}
{#                                <div class="timeline-panel">#}
{#                                    <div class="timeline-body">#}
{#                                        <p class="text-muted">iTunes is a teenager. But radio is still the most effective way to launch new artists and glance at our culture’s musical landscape. This wouldn’t bum us out so much by itself, but the 10 most popular songs on the radio receive double the airtime today than those of  ten years ago. There are more ways to create and consume music than ever before. The funnel of popular music should not be narrowing.  It should be expanding. That’s why we created NostraJAMus.</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/static/img/about/winnings.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fall 2014</h4>
                                    <h4 class="subheading">Born Winners: NostraJAMus wins 2nd place in UVA E-Cup</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><b>NostraJAMus is an online platform for music discovery, predictions, and tastemaking.</b> The concept is simple: find a new song you like by an unheralded artist? Support the track on our site. Enter that song in a contest, submit it in a duel with a friend, share it on your profile. We want you to champion the undiscovered musicians dotting the globe. And we want to reward you.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/static/img/about/sennheiser.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Early 2015</h4>
                                    <h4 class="subheading">Developing a sweet product</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">NostraJAMus will give you prizes when your song selections jump up the charts. We’re here to incentivize music discovery and democratize tastemaking. We think that ‘big data’ and sterile analysis of listening habits have hampered new artists, and we’re here to return the power to listeners like you. Oh, and also, we’re a bunch of college kids who love music. For now, we’ll be running open contests on our site as we build out other features like duels, profiles, and tastemaker rankings. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/static/img/about/rocket.jpg" alt=""/>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Future</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">So here’s our advice right now: spend an extra half hour this week listening to new songs. Songs you’ve never heard before. Songs by artists with weird names. Songs outside your go-to genres. And if you find one that electrifies, submit it in our newest contest.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                    <h4><a class="page-scroll jam-with-us" href="#portfolio">Jam
                                    With
                                    Us!</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Team</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                    <div class="team-member">
                        <img src="/static/img/team/collin.jpg" class="img-responsive img-circle" alt="">
                        <h4>Collin Waldoch</h4>
                        <p class="text-muted">Strategy</p>
                        <a href="mailto:collin@nostrajamus.com">collin@nostrajamus.com</a>
                        <p class="text-muted">Supplies the jams. Your new favorite song? He knew about it last year.</p>

{#                        <ul class="list-inline social-buttons">#}
{#                            <li><a href="#"><i class="fa fa-twitter"></i></a>#}
{#                            </li>#}
{#                            <li><a href="#"><i class="fa fa-facebook"></i></a>#}
{#                            </li>#}
{#                            <li><a href="#"><i class="fa fa-linkedin"></i></a>#}
{#                            </li>#}
{#                        </ul>#}
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="/static/img/team/tony.jpg" class="img-responsive img-circle" alt="">
                        <h4>Tony Olmert</h4>
                        <p class="text-muted">Marketing</p>
                        <a href="mailto:tony@nostrajamus.com">tony@nostrajamus.com</a>
                        <p class="text-muted">A renaissance man who has perfected the art of the ‘fist pump’ while dancing.</p>
{#                        <ul class="list-inline social-buttons">#}
{#                            <li><a href="#"><i class="fa fa-twitter"></i></a>#}
{#                            </li>#}
{#                            <li><a href="#"><i class="fa fa-facebook"></i></a>#}
{#                            </li>#}
{#                            <li><a href="#"><i class="fa fa-linkedin"></i></a>#}
{#                            </li>#}
{#                        </ul>#}
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="/static/img/team/mike.jpg" class="img-responsive img-circle" alt="">
                        <h4>Michael Paris</h4>
                        <p class="text-muted">Backend</p>
                        <a href="mailto:mike@nostrajamus.com">mike@nostrajamus.com</a>
                        <p class="text-muted">Tries to dress up nice for presentations, but then remembers that he’s the backend developer.</p>
{#                        <ul class="list-inline social-buttons">#}
{#                            <li><a href="#"><i class="fa fa-twitter"></i></a>#}
{#                            </li>#}
{#                            <li><a href="#"><i class="fa fa-facebook"></i></a>#}
{#                            </li>#}
{#                            <li><a href="#"><i class="fa fa-linkedin"></i></a>#}
{#                            </li>#}
{#                        </ul>#}
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="/static/img/team/robby.jpg" class="img-responsive img-circle" alt="">
                        <h4>Robby Koch</h4>
                        <p class="text-muted">Social Media Intern</p>
                        <a href="mailto:robby@nostrajamus.com">robby@nostrajamus.com</a>
                        <p class="text-muted">Creates original songs in his spare time. Then tries submitting them to NostraJAMus.</p>
{#                        <ul class="list-inline social-buttons">#}
{#                            <li><a href="#"><i class="fa fa-twitter"></i></a>#}
{#                            </li>#}
{#                            <li><a href="#"><i class="fa fa-facebook"></i></a>#}
{#                            </li>#}
{#                            <li><a href="#"><i class="fa fa-linkedin"></i></a>#}
{#                            </li>#}
{#                        </ul>#}
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="/static/img/team/vince.jpg" class="img-responsive img-circle" alt="">
                        <h4>Vince Ning</h4>
                        <p class="text-muted">Frontend</p>
                        <a href="mailto:vince@nostrajamus.com">vince@nostrajamus.com</a>
                        <p class="text-muted">Big Beyonce fan.</p>
{#                        <ul class="list-inline social-buttons">#}
{#                            <li><a href="#"><i class="fa fa-twitter"></i></a>#}
{#                            </li>#}
{#                            <li><a href="#"><i class="fa fa-facebook"></i></a>#}
{#                            </li>#}
{#                            <li><a href="#"><i class="fa fa-linkedin"></i></a>#}
{#                            </li>#}
{#                        </ul>#}
                    </div>
                </div>
            </div>
{#            <div class="row">#}
{#                <div class="col-lg-8 col-lg-offset-2 text-center">#}
{#                    <p class="large text-muted">We are all passionate about music and think its about time something new hit the online music scene.</p>#}
{#                </div>#}
{#            </div>#}
        </div>
    </section>

    <!-- Clients Aside -->
{#    <aside class="clients">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-3 col-sm-6">#}
{#                    <a href="#">#}
{#                        <img src="/static/img/logos/envato.jpg" class="img-responsive img-centered" alt="">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-md-3 col-sm-6">#}
{#                    <a href="#">#}
{#                        <img src="/static/img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-md-3 col-sm-6">#}
{#                    <a href="#">#}
{#                        <img src="/static/img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-md-3 col-sm-6">#}
{#                    <a href="#">#}
{#                        <img src="/static/img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </aside>#}

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">We would love to hear your feedback</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" action="/api/feedback/" method="POST" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" name="text" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; NostraJAMus 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/NostraJAMusVA"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/nostrajamus.music"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://soundcloud.com/nostrajamus"><i class="fa fa-soundcloud"></i></a>
                        </li>
                        <li><a href="https://play.spotify.com/user/collinwaldoch/playlist/0QmOLxaXpiDhToT2jxTVgL?play=true&utm_source=open.spotify.com&utm_medium=open"><i class="fa fa-spotify"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
{#                        <li><a href="#">Privacy Policy</a>#}
{#                        </li>#}
{#                        <li><a href="#">Terms of Use</a>#}
{#                        </li>#}
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive" src="/static/img/portfolio/roundicons-free.png" alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <p>
                                <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                            <ul class="list-inline">
                                <li>Date: July 2014</li>
                                <li>Client: Round Icons</li>
                                <li>Category: Graphic Design</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/js/classie.js"></script>
    <script src="/static/js/cbpAnimatedHeader.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"></script>

    <script src="/static/js/jqBootstrapValidation.js"></script>
{#    <script src="/static/js/contact_me.js"></script>#}

    <script src="/static/js/agency.js"></script>
    <script type="text/javascript" src="/static/js/nostrajamus.js"></script>

    <script>
        // set the date we're counting down to
        var target_date = new Date('Jan, 24, 2015, 12:00').getTime();

        var time_now = Date.now();

        // variables for time units
        var days, hours, minutes, seconds;

        // get tag element
        var countdown = document.getElementById('countdown');

        // update the tag with id "countdown" every 1 second
        setInterval(function () {

            // find the amount of "seconds" between now and target
            var current_date = new Date().getTime();
            var seconds_left = (target_date - current_date) / 1000;

            // do some time calculations
            days = parseInt(seconds_left / 86400);
            seconds_left = seconds_left % 86400;

            hours = parseInt(seconds_left / 3600);
            seconds_left = seconds_left % 3600;

            minutes = parseInt(seconds_left / 60);
            seconds = parseInt(seconds_left % 60);

            // format countdown string + set tag value
            countdown.innerHTML = '<span class="days">' + days +  ' <b>Days</b></span> <span class="hours">' + hours + ' <b>Hours</b></span> <span class="minutes">'
            + minutes + ' <b>Minutes</b></span> <span class="seconds">' + seconds + ' <b>Seconds</b></span>';

        }, 1000);
    </script>

{#    <script type="text/javascript">#}
{#        var ctx = document.getElementById("example-chart").getContext("2d");#}
{##}
{#        $.ajax({#}
{#            type: 'GET',#}
{#            url: '/api/tracks/1/playcounts/',#}
{#            success: function(data) {#}
{#                console.log("Success");#}
{#                console.log(data);#}
{#                var playbacks = [];#}
{#                var followers = [];#}
{#                var labels = [];#}
{#                for (var i = 0; i < data.length; i++) {#}
{#                    var periodic_pc = data[i];#}
{#                    playbacks.push(periodic_pc.playback_count);#}
{#                    followers.push(periodic_pc.follower_count);#}
{#                    labels.push(i);#}
{#                }#}
{#                var data = {#}
{#                    labels: labels,#}
{#                    datasets: [#}
{#                        {#}
{#                            label: "Artist Followers",#}
{#                            fillColor: "rgba(220,220,220,0.2)",#}
{#                            strokeColor: "rgba(220,220,220,1)",#}
{#                            pointColor: "rgba(220,220,220,1)",#}
{#                            pointStrokeColor: "#fff",#}
{#                            pointHighlightFill: "#fff",#}
{#                            pointHighlightStroke: "rgba(220,220,220,1)",#}
{#                            data: followers#}
{#                        },#}
{#                        {#}
{#                            label: "Track Playcount",#}
{#                            fillColor: "rgba(151,187,205,0.2)",#}
{#                            strokeColor: "rgba(151,187,205,1)",#}
{#                            pointColor: "rgba(151,187,205,1)",#}
{#                            pointStrokeColor: "#fff",#}
{#                            pointHighlightFill: "#fff",#}
{#                            pointHighlightStroke: "rgba(151,187,205,1)",#}
{#                            data: playbacks#}
{#                        }#}
{#                    ]#}
{#                };#}
{#                var myNewChart = new Chart(ctx).Line(data);#}
{#            },#}
{#            error: function(data) {#}
{#                console.log(error);#}
{#            }#}
{#        });#}
{##}
{#    </script>#}

</body>

</html>
