<html>
<!-- BEGIN HEADER INNER -->
<!-- !DOC: add 'container' in class after 'page-header-inner' -->
<div class="page-header-inner">
	<!-- BEGIN LOGO -->
	<!-- <div class="page-logo"> -->
		<!-- <a href="#/dashboard.html"> -->
		<!-- <img src="/assets/admin/layout2/img/logo-default.png" alt="logo" class="logo-default"/> -->
		<!-- </a> -->
		<!-- <div class="menu-toggler sidebar-toggler"> -->
			<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
		<!-- </div> -->
	<!-- </div> -->
	<!-- END LOGO -->
	<!-- BEGIN RESPONSIVE MENU TOGGLER -->
<!-- 	<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
	</a> -->
	<!-- END RESPONSIVE MENU TOGGLER -->
	<!-- BEGIN PAGE ACTIONS -->
	<!-- DOC: Remove "hide" class to enable the page header actions -->
	<!-- <div class="page-actions"> -->
		<!-- <div class="btn-group">
			<button type="button" class="btn btn-circle red-pink dropdown-toggle" data-toggle="dropdown">
			<i class="icon-bar-chart"></i>&nbsp;<span class="hidden-sm hidden-xs">New&nbsp;</span>&nbsp;<i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="#">
					<i class="icon-user"></i> New User </a>
				</li>
				<li>
					<a href="#">
					<i class="icon-present"></i> New Event <span class="badge badge-success">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-basket"></i> New order </a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#">
					<i class="icon-flag"></i> Pending Orders <span class="badge badge-danger">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-users"></i> Pending Users <span class="badge badge-warning">12</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-circle green-haze dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-plus"></i>&nbsp;<span class="hidden-sm hidden-xs">New&nbsp;</span>&nbsp;<i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="#">
					<i class="icon-docs"></i> New Post </a>
				</li>
				<li>
					<a href="#">
					<i class="icon-tag"></i> New Comment </a>
				</li>
				<li>
					<a href="#">
					<i class="icon-share"></i> Share </a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#">
					<i class="icon-flag"></i> Comments <span class="badge badge-success">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-users"></i> Feedbacks <span class="badge badge-danger">2</span>
					</a>
				</li>
			</ul>
		</div> -->
	<!-- </div> -->
	<!-- END PAGE ACTIONS -->
	<!-- BEGIN PAGE TOP -->
    <div class="page-top">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
        	<a href="#/dashboard"><img class="nostra-header-nav pull-left" src="/assets/global/img/NostrajamusOfficialLogos/PNG/NostrajamusOfficialLogos-04 (DARK).png"></a>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nostra-nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand page-scroll" href="#/dashboard"> -->
                <!-- </a> -->
                
                <a class="navbar-brand page-scroll" href="#/">
        			<div class="nostra-style-white">nostra</div>
        			<div class="nostra-style-red">jam</div>
        			<div class="nostra-style-white">us</div>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse top-menu" id="nostra-nav-collapse">

            	<!-- Start Pre-Login Header -->
            	<ul class="nav navbar-nav navbar-right" ng-if="!authState.user">
            		<li class="dropdown" id="">
						<a href="#/" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
						<!--<i class="icon-home"></i>-->
						<span class="title">Contests</span>
						</a>
						<br>
					</li>
					<li class="dropdown" id="">
						<a href="#/discover" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
						<span class="title">Discover</span>
						</a>
						<br>
					</li>
					<!-- <li class="dropdown" id="">
						<a href="#/leaderboard" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
						<span class="title">Leaderboard</span>
						</a>
						<br>
					</li> -->
					<!-- END TODO DROPDOWN -->
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown style -->
					<li>
						<a href="#" data-toggle="modal" data-target="#registerModal">
							<button class="btn btn-default btn-lg nostra-register">Register</button>
						</a>
						<br>
					</li>
					<li class="dropdown" id="">
						<a href="#" class="dropdown-toggle" data-toggle="modal" data-target="#loginModal">
						<span class="title nostra-login">Log In</span>
						</a>
						<br>
					</li>
                </ul>
				<!-- End Pre-Login Header -->

				<!-- Start Post-Login Header -->
                <ul class="nav navbar-nav navbar-right" ng-if="authState.user">
                    <li class="dropdown" id="">
						<a href="#/" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
						<!--<i class="icon-home"></i>-->
						<span class="title">Contests</span>
						</a>
						<br>
					</li>
					<li class="dropdown" id="">
						<a href="#/discover" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
						<!--<i class="icon-share"></i>-->
						<span class="title">Discover</span>
						</a>
						<br>
					</li>
					<li class="dropdown" id="">
						<a href="#/leaderboard" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
						<!--<i class="icon-trophy"></i>-->
						<span class="title">Leaderboard</span>
						</a>
						<br>
					</li>
					<!-- END TODO DROPDOWN -->
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown style -->
					<li class="dropdown dropdown-user dropdown-dark">
						<a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
						<img alt="" class="img-responsive img-circle" src="{{getProfilePicture(myData.profile_picture)}}" ng-show="getProfilePicture(myData.profile_picture)"/> <!-- /assets/admin/layout2/img/avatar3_small.jpg -->
						<i class="fa fa-user fa-lg" ng-hide="getProfilePicture(myData.profile_picture)"></i>
						<span class="username username-hide-on-mobile">
						{{authState.user}} </span>
						<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-default">
							<li>
								<a href="#/profile/me/dashboard">
								<i class="icon-user"></i> Profile </a>
							</li>
							<!--<li class="divider">-->
							<!--</li>-->
							<li class="dropdown" id="">
						        <a href="#/how">
                                <i class="icon-question"></i>
                                <span class="title">Learn</span>
                                </a>
					        </li>
                            <li>
								<a href="#/message">
								<i class="icon-paper-plane"></i> Contact Us </a>
							</li>
<!-- 							<li>
								<a href="#/jams">
								<i class="icon-playlist"></i> My Jams </a>
							</li>
							<li>
								<a href="#/contests">
								<i class="icon-clock"></i> Current Contests </a>
							</li>
							<li>
								<a href="#/history">
								<i class="icon-check"></i> History </a>
							</li> -->
							<li class="divider">
							<li>
								<a href="#/profile/me/account">
								<i class="icon-settings"></i> Settings </a>
							</li>
							</li>
							<li ng-controller="authController" ng-click="logout()">
								<a href="#">
									<i class="icon-key"></i> Log Out
								</a>
							</li>
						</ul>
					</li>
                </ul>
                <!-- End Post-Login Header -->

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    </div>

    <!-- <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="authController">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header title-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title white" id="myModalLabel">Register</h4>
                </div>
                <form id="id_auth_form" ng-submit="login()">
	                <div class="modal-body">
	                    <div class="row">
	                        <div class="col-lg-12">
	                            <div>
						            <div class="form-group col-md-offset-2 col-md-8">
                                    <p class="help-block text-danger"></p>
						                <input ng-model="username" class="form-control" required name="username" type="text" placeholder="Username *" class="form-control" required data-validation-required-message="Please enter your username.">
						            </div>
						            <div class="form-group col-md-offset-2 col-md-8">
						                <input ng-model="password" required name="password" type="password" placeholder="password" class="form-control">
						            </div>
						            
							    </div>
	                        </div>
	                    </div>
	                </div>

	                <div class="modal-footer title-bg">
	                	<div class="btn-group">
			                <input type="submit" class="btn btn-default" value="login">
			                <input type="submit" class="btn btn-default" value="register" ng-click="register($event)">
			            </div>
	                </div>
		        </form>
            </div>
        </div>
    </div> -->

    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="authController">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header title-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title white" id="myModalLabel">Register</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form name="registationForm" novalidate>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="First Name *" ng-model="first_name" required data-validation-required-message="Please enter your name.">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Last Name *" ng-model="last_name" required data-validation-required-message="Please enter your name.">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your Email *" ng-model="email" required data-validation-required-message="Please enter your email address.">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Username (alias) *" ng-model="user_name" required data-validation-required-message="Please enter your email address.">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" ng-model="password1" required data-validation-required-message="Please enter a password">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Confirm password *" ng-model="password2" required data-validation-required-message="Please enter a confirmation password">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-lg-12 text-center">
                                        <div id="success"></div>
                                        <button type="submit" class="btn btn-xl" ng-click="register($event)">Jam With Us</button>
                                        <div id="errors"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer title-bg">
                    <button type="button" class="btn btn-default red-nostra-modal" data-dismiss="modal">Sweet.</button>
                </div> -->
            </div>
        </div>
    </div>

    <!--<div class="page-top"> &lt;!&ndash; Change this maybe to make navbar clear &ndash;&gt;-->
		<!--<div class="container">-->
			<!--&lt;!&ndash; <img class="logo-nostra" src="/assets/global/img/jamus_invert.png"> &ndash;&gt;-->
			<!--<a href="#/dashboard"><div class="nostra">NostraJAMus</div></a>-->

			<!--&lt;!&ndash; minimize &ndash;&gt;-->
<!--&lt;!&ndash; 			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
	            <!--<span class="sr-only">Toggle navigation</span>-->
	            <!--<span class="icon-bar"></span>-->
	            <!--<span class="icon-bar"></span>-->
	            <!--<span class="icon-bar"></span>-->
	        <!--</button>-->
	        <!--<div class="navbar-collapse collapse">-->
	          <!--<ul class="nav navbar-nav">-->
	            <!--<li class="active"><a href="#">Home</a></li>-->
	            <!--<li><a href="#about">About</a></li>-->
	            <!--<li><a href="#contact">Contact</a></li>-->
	            <!--<li class="dropdown">-->
	              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
	              <!--<ul class="dropdown-menu">-->
	                <!--<li><a href="#">Action</a></li>-->
	                <!--<li><a href="#">Another action</a></li>-->
	                <!--<li><a href="#">Something else here</a></li>-->
	                <!--<li class="divider"></li>-->
	                <!--<li class="dropdown-header">Nav header</li>-->
	                <!--<li><a href="#">Separated link</a></li>-->
	                <!--<li><a href="#">One more separated link</a></li>-->
	              <!--</ul>-->
	            <!--</li>-->
	          <!--</ul>-->
	          <!--<ul class="nav navbar-nav navbar-right">-->
	            <!--<li><a href="#">Default</a></li>-->
	          <!--</ul>-->
	        <!--</div> &ndash;&gt;-->
			<!--&lt;!&ndash; minimize &ndash;&gt;-->

			<!--&lt;!&ndash; BEGIN HEADER SEARCH BOX &ndash;&gt;-->
			<!--&lt;!&ndash; DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box &ndash;&gt;-->
	<!--&lt;!&ndash; 		<form class="search-form search-form-expanded" action="#" method="GET">-->
				<!--<div class="input-group">-->
					<!--<input type="text" class="form-control" placeholder="Search..." name="query">-->
					<!--<span class="input-group-btn">-->
					<!--<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>-->
					<!--</span>-->
				<!--</div>-->
			<!--</form> &ndash;&gt;-->
			<!--&lt;!&ndash; END HEADER SEARCH BOX &ndash;&gt;-->
			<!--&lt;!&ndash; BEGIN TOP NAVIGATION MENU &ndash;&gt;-->
			<!--<div class="top-menu">-->
				<!--<ul class="nav navbar-nav pull-right">-->
					<!--&lt;!&ndash; BEGIN TODO DROPDOWN &ndash;&gt;-->
					<!--<li class="dropdown" id="">-->
						<!--<a href="#/dashboard" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">-->
						<!--<i class="icon-home"></i>-->
						<!--<span class="title">Contests</span>-->
						<!--</a>-->
						<!--<br>-->
					<!--</li>-->
					<!--<li class="dropdown" id="">-->
						<!--<a href="#/leaderboard" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">-->
						<!--<i class="icon-trophy"></i>-->
						<!--<span class="title">Leaderboard</span>-->
						<!--</a>-->
						<!--<br>-->
					<!--</li>-->
					<!--<li class="dropdown" id="">-->
						<!--<a href="#/leagues" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">-->
						<!--<i class="icon-share"></i>-->
						<!--<span class="title">Groups</span>-->
						<!--</a>-->
						<!--<br>-->
					<!--</li>-->
					<!--<li class="dropdown" id="">-->
						<!--<a href="#/how" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">-->
						<!--<i class="icon-question"></i>-->
						<!--<span class="title">Learn</span>-->
						<!--</a>-->
						<!--<br>-->
					<!--</li>-->
					<!--&lt;!&ndash; END TODO DROPDOWN &ndash;&gt;-->
					<!--&lt;!&ndash; BEGIN USER LOGIN DROPDOWN &ndash;&gt;-->
					<!--&lt;!&ndash; DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown style &ndash;&gt;-->
					<!--<li class="dropdown dropdown-user dropdown-dark">-->
						<!--<a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">-->
						<!--<img alt="" class="img-circle" src="{{myData.profile_picture}}"/> &lt;!&ndash; /assets/admin/layout2/img/avatar3_small.jpg &ndash;&gt;-->
						<!--<span class="username username-hide-on-mobile">-->
						<!--{{authState.user}} </span>-->
						<!--<i class="fa fa-angle-down"></i>-->
						<!--</a>-->
						<!--<ul class="dropdown-menu dropdown-menu-default">-->
							<!--<li>-->
								<!--<a href="#/profile/dashboard">-->
								<!--<i class="icon-user"></i> Profile </a>-->
							<!--</li>-->
							<!--<li class="divider">-->
							<!--</li>-->
							<!--<li>-->
								<!--<a href="#/message">-->
								<!--<i class="icon-paper-plane"></i> Contact Us </a>-->
							<!--</li>-->
<!--&lt;!&ndash; 							<li>-->
								<!--<a href="#/jams">-->
								<!--<i class="icon-playlist"></i> My Jams </a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a href="#/contests">-->
								<!--<i class="icon-clock"></i> Current Contests </a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a href="#/history">-->
								<!--<i class="icon-check"></i> History </a>-->
							<!--</li> &ndash;&gt;-->
							<!--<li class="divider">-->
							<!--</li>-->
							<!--<li ng-controller="authController" ng-click="logout()">-->
								<!--<a href="/">-->
									<!--<i class="icon-key"></i> Log Out-->
								<!--</a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</li>-->
					<!--&lt;!&ndash; END USER LOGIN DROPDOWN &ndash;&gt;-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash; END TOP NAVIGATION MENU &ndash;&gt;-->
	<!--</div>-->




	<!-- END PAGE TOP -->
</div>
<!-- END HEADER INNER/ -->