<!--BEGIN PAGE HEADER-->
<h3 class="page-title">
	{{Contest.title}}
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="AdvancedDatatablesDemoCtrl">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box red-nostra">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>Contest Summary
				</div>
				<div class="tools">
					<a href="javascript:;" class="reload">
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="row">
                    <div class="col-lg-6 text-center">
                        <p><h5>Contest Entries</h5>{{contestEntries.count}}</p>
                        <p><h5>Entry Fee</h5>{{contestInfo.entry_fee}}</p>
                        <p><h5>Prize</h5> {{contestInfo.prize}}</p>
                    </div>
                    <div class="col-lg-6 text-center">
                        <p><h5>Start Time</h5> {{contestInfo.start_time}}</p>
                        <p><h5>End Time</h5> {{contestInfo.end_time}}</p>
                        <p><h5>Status</h5> Completed</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 text-center">
                    	<p><h5>Contest Winner</h5> <iframe width="100%" height="83" scrolling="no" frameborder="no" ng-src="{{getSrc(contestInfo.winning_entry)}}"></iframe></p>
                    </div>
                    <div class="col-lg-6 text-center">
                    	<p><h5>Editor's Pick</h5> <iframe width="100%" height="83" scrolling="no" frameborder="no" ng-src="{{getSrc(contestInfo.editors_pick)}}"></iframe></p>
                    </div>
                </div>

			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

<h3 align="center">Full Standings</h3>
<div class="row" ng-repeat="entry in contestEntries.results | startFrom:currentPage*pageSize | limitTo:pageSize">
    <div class="col-md-2">
        <div class="text-center rank-holder">
        	<br><br>
            <h1 class="counter">{{$index+1}}</h1>
        </div>
    </div>
    <div class="col-md-8">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" ng-src="{{getSrc(entry)}}"></iframe>
    </div>
    <div class="col-md-2 text-center rank-holder">
    	<br><br><br>
        <div>{{entry.user.username}}</div>
        <div>{{entry.jam_points}} Jam Points</div>
        <!-- <button type="button" class="btn btn-default" data-toggle="modal" data-title="{{ entry.track.title }}" data-id="{{ entry.id }}" data-sc-id="{{ entry.sc_id }}" data-target="#graphModal" data-ip="{{ entry.initial_playback_count }}" data-cp="{{ entry.current_playback_count }}" data-fc="{{ entry.current_follower_count }}" data-album-art="{{ entry.track.artwork_url }}">Details</button> -->
    </div>
</div>
<div class="row" align="center">
	<button class="btn btn-primary red-nostra" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
	    Prev
	</button>
	{{currentPage+1}}/{{numberOfPages()}}
	<button class="btn btn-primary red-nostra" ng-disabled="currentPage>=contestEntries.results.length/pageSize-1" ng-click="currentPage=currentPage+1">
	    Next
	</button>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
	function AdvancedDatatablesDemoCtrl($scope) {
		// CompletedContests.init();
	}

	function SCinit() {

    	SC.initialize({
	        client_id: 'f0b7083f9e4c053ca072c48a26e8567a'
	    });

	    var songObj;
	    $("#search").autocomplete({
	        source: function(request, response) {
	            // find all sounds of buskers licensed under 'creative commons share alike'
	            // alert("Source");
	            SC.get('/tracks', { q: request.term}, function(tracks) {
	                // alert(tracks);
	                var titles = [];
	                for (var i = 0; i < tracks.length; i++) {
	                    if (i > 20) { break; }
	                    var item = { label: tracks[i].title, value: tracks[i] };
	                    titles[i] = item;
	                }
	                response(titles);
	            });
	        },

	        select: function(event, ui) {
	            // var song_title = ui.item.label;
	            var song_id = ui.item.value.id;
	            var song_play_count = ui.item.value.playback_count;
	            var user_id = ui.item.value.user.id;
	            var sc_frame = '<iframe width="100%" height="166px" scrolling="no" frameborder="yes" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/' + song_id + '&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>';
	            // var modal_btn = '<button type="button" class="btn btn-primary btn-lg btn-sc" data-toggle="modal" data-target="#myModal">Preview Song<img src="img/sm-sc.png" class="sc-img"/></button>';
	            // document.getElementById("search").innerHTML = song_title;
	            SC.get("/users/"+user_id, {limit: 1}, function(user){
	                document.getElementById("follower_count_embed").innerHTML = "&nbsp | &nbsp Follower Count: " + user.followers_count;
	            });
	            document.getElementById("playcount_embed").innerHTML = "Play Count: "+song_play_count;
	            document.getElementById("sc-embed").innerHTML = sc_frame;
	            event.preventDefault();
	            $(this).val(ui.item.label);
	            songObj = ui.item;
	        },

	        focus: function( event, ui ) {
	            // console.log(ui.item);
	            event.preventDefault();
	            $(this).val(ui.item.label);
	        }
	    });

    };
</script>
<!-- END MAIN JS