<!--BEGIN PAGE HEADER-->
<h3 class="page-title">
	{{contestInfo.title}}
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="AdvancedDatatablesDemoCtrl">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box red-nostra">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>Contest Summary
				</div>
				<div class="tools">
					<a href="javascript:;" class="reload">
					</a>
				</div>
			</div>
			<div class="portlet-body dark-bg-nostra">
				<div class="row">
                    <div class="col-lg-6 text-center">
                        <p><h5>Contest Entries</h5>{{contestEntries.count}}</p>
                        <p><h5>Entry Fee</h5>${{contestInfo.entry_fee}}</p>
                        <p><h5>Prize</h5> {{contestInfo.prize}}</p>
                    </div>
                    <div class="col-lg-6 text-center">
                        <p><h5>Start Time (ET)</h5> {{contestInfo.start_time}}</p>
                        <p><h5>End Time (ET)</h5> {{contestInfo.end_time}}</p>
                        <p><h5>Status</h5> Completed</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 text-center">
                    	<p><h5>Contest Winner</h5> <iframe width="100%" height="83" scrolling="no" frameborder="no" ng-src="{{getSrc(contestInfo.winning_entry)}}"></iframe></p>
                    </div>
                    <div class="col-lg-6 text-center">
                    	<p><h5>Editor's Pick</h5> <iframe width="100%" height="83" scrolling="no" frameborder="no" ng-src="{{getSrcEditor(contestInfo.editors_pick)}}"></iframe></p>
                    </div>
                </div>

			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>

<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{contestInfo.title}}</h2>
        <h5>{{contestInfo.description}}</h5>
        <!-- <div class="section-subheading text-muted">Submission Deadline In <span id="countdown-open"></span></div> -->
    </div>
</div>

<h3 align="center">Full Standings</h3>
<div class="row" ng-repeat="entry in contestEntries.results | limitTo:pageSize">
    <div class="col-md-2">
        <div class="text-center rank-holder">
        	<br><br>
            <h1 class="counter">{{$index+getRanks()+1}}</h1>
        </div>
    </div>
    <div class="col-md-8">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" ng-src="{{getSrc(entry)}}"></iframe>
    </div>
    <div class="col-md-2 text-center rank-holder">
    	<br><br><br>
        <div><a href="#/profile/{{entry.user.id}}/dashboard">{{entry.user.username}}</a></div>
        <div>{{entry.jam_points}} Jam Points</div>
        <!-- <button type="button" class="btn btn-default" data-toggle="modal" data-title="{{ entry.track.title }}" data-id="{{ entry.id }}" data-sc-id="{{ entry.sc_id }}" data-target="#graphModal" data-ip="{{ entry.initial_playback_count }}" data-cp="{{ entry.current_playback_count }}" data-fc="{{ entry.current_follower_count }}" data-album-art="{{ entry.track.artwork_url }}">Details</button> -->
    </div>
</div>
<div class="row" align="center">
	<button class="btn btn-primary red-nostra" ng-disabled="currentPage == 1" ng-click="prevPage()">
	    Prev
	</button>
	{{currentPage}}/{{numberOfPages()}}
	<button class="btn btn-primary red-nostra" ng-disabled="currentPage>=contestEntries.count/pageSize" ng-click="nextPage()">
	    Next
	</button>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
	function AdvancedDatatablesDemoCtrl($scope) {
		// CompletedContests.init();
	};
</script>
<!-- END MAIN JS